@import "styles/colors";

.actionButton {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;

    &:active {
        transform: translateY(-0.1rem);
    }

    &:focus {
        outline: 0;
    }

    &:hover svg {
        fill: $red-grey-base;
    }
}

svg {
    fill: $font-color-gray-palette;
}

.row {
    display: none;
}
