@import "styles/colors";

.Reminders {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 50rem;

    // height: 50rem;
    background-color: #2f3640;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    overflow: hidden;

    &__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid $font-color-gray-palette;
        background-color: $font-color-gray-palette;

        &___note {
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 0.75rem;
            font-size: 1.75rem;
            margin-bottom: 1rem;
            color: $grey-dark-2;

            &:focus {
                outline: none;
            }
        }

        &___items {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
        }

        &__actions {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 1rem 0;
            border-bottom: 1px solid $font-color-gray-palette;
        }
    }

    &__actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid $font-color-gray-palette;
    }

    &__list {
        list-style-type: none;
        width: 100%;
        height: 30rem;
        overflow-y: scroll;
    }

    &__action {
        height: 3rem;
        width: 9rem;
        background-color: transparent;
        border: 3px solid $alter-grey;
        border-radius: 3px;
        color: $alter-grey;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;

        &:active {
            transform: translateY(-0.1rem);
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            border: 3px solid $red-grey-base;
            color: $red-grey-base;
        }

        &:not(:first-child) {
            margin-left: 3rem;
        }
    }
}

// .dropdown {
//     border-radius: 5px;
//     background-color: transparent;
//     border: 1px solid $font-color-gray-palette;
//     font-size: 1rem;
//     color: $font-color-gray-palette;
//     width: 30%;

//     &__control {
//         background-color: red;
//     }

//     &__menu {
//         background-color: red;
//         border: 1px solid green;
//     }

//     &__placeholder {
//         color: $grey-dark-1;
//         font-size: 0.75rem;
//         font-weight: 600;
//     }
// }

.react-select-container {
    background-color: red;
    width: 10rem;
}
