$primary: #4ea1d3;
$alter-grey: #454552;
$background: #d8e9ef;
$alter-red: #e85a71;

// green theme

$primary-green: #75D701;
$green-dark-1: #56A902;
$green-dark-2: #3B4E32;
$font-color-green-palette: #F8F8FF;

// grey theme

$gray-primary: #414141;
$grey-light-1: #525252;
$grey-dark-1: #313131;
$grey-dark-2: #2f3640;
$blue-grey: #36454f;
$red-grey-base: #ca3e47;
$font-color-gray-palette: #e3dede;

//shadows

$regular-box-shadow: 0 1rem 3rem 0 rgba($grey-dark-1, 0.4);
$regular-box-shadow-bottom: 0 5px 2px -2px rgba($grey-dark-1, 0.1);
$light-box-shadow: 0 2px 4px 0 rgba($grey-dark-1, 0.1);
