@import "styles/colors";

.EventCalendarItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // margin-bottom: 0.1rem;

    &__label {
        margin: 0 0 -0.2rem 1.75rem;
    }

    &__note {
        font-size: 1.2rem;
        margin-left: .5rem;
        color: $font-color-gray-palette;
        max-width: 12rem;
        overflow: hidden;
        white-space: nowrap; /* Don't forget this one */
        text-overflow: ellipsis;
    }
}
