@import "styles/colors";

.calendarDay {
    border-top: 1px solid $font-color-gray-palette;
    border-left: 1px solid $font-color-gray-palette;
    border-bottom: 1px solid $font-color-gray-palette;
}
